.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    padding: 1em 0;
    background-color: #222;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-brand {
        margin-left: 2em;
    }

    .nav-right {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        width: 30%;

        .nav-link {
            color: #fff;
            text-transform: uppercase;
        }
    }
}