<div class="wrapper">
  <div class="image"></div>
  <div class="auth-wrapper">
    <div class="auth-block">
      <h3 class="sign-in">Sign In</h3>
      <input
        type="text"
        class="text-input"
        placeholder="Username"
        #userName
        required
      />
      <div class="password">
        <input
          type="password"
          class="text-input"
          placeholder="Password"
          #userPassword
          required
        />
        <span class="auth-link" routerLink="/forgot-password"
          >Forgot password?</span
        >
      </div>
      <!-- Calling SignIn Api from AuthService -->

      <input
        type="button"
        class="button"
        value="Log in"
        (click)="authService.SignIn(userName.value, userPassword.value)"
      />

      <span class="or"><span class="orInner">Or</span></span>
      <!-- Calling GoogleAuth Api from AuthService -->
      <button
        type="button"
        class="button google"
        (click)="authService.GoogleAuth()"
      >
        Log in with
        <i class="fa-brands fa-google fa-2x"></i>
      </button>
    </div>
    <span
      >Don't have an account?<span
        class="auth-link"
        routerLink="/register-user"
      >
        Sign Up</span
      ></span
    >
  </div>
</div>
